<app-top-bar></app-top-bar>
<br><br>
<div class="edit-event-container">
    <h1 id="title-edit-event">Edit the information of this event</h1>
    <br><br>
    <form [formGroup]="EditVehicleEvent" (ngSubmit)="submitEditedEvent()">
        <div class="form-inner-edit-event">
            <div class="form-group">
                <label>Event description:</label>
                <textarea style="resize:none;" id="ev-desc" class="form-control" rows="3" placeholder="Description" [(ngModel)]="this.stored_event_edit.eventDescription" formControlName="eventdescription"></textarea>
            </div>

            <br>

            <div class="form-group">
                <label>Event date:</label>
                <input type="date" class="form-control" formControlName="eventdate" [(ngModel)]="this.stored_event_edit.eventDate">
            </div>

            <br>

        </div>
        <div class="buttons">
            <br>
            <button type="submit" class="submit-button">Edit</button>
            <button class="events-button" routerLink="../VehicleEvents">Events</button>
        </div>
    </form>

</div>
<br><br><br><br>
<div class="edit-event-rules">
    <h3>Rules:</h3>
    <p>All fields are mandatory.</p>
</div>
