<div class="search-container">
    <h1 id="title-search">Search for a vehicle</h1>
    <br><br>
    
    <div class="form-inner-search">
        <div class="search1">
            <div class="form-group">
                <label>Category:</label>
                <select class="form-control" [(ngModel)]="category">
                    <option value="">No filter</option>
                    <option value="Car">Car</option>
                    <option value="Van">Van</option>
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="Truck">Truck</option>
                    <option value="Agricultural equipment">Agricultural equipment</option>
                </select>
            </div>

            <br>

            <div class="form-group">
                <label>Company:</label>
                <input type="text" class="form-control" placeholder="Company" [(ngModel)]="company">
            </div>

            <br>

            <div class="form-group">
                <label>Model:</label>
                <input type="text" class="form-control" placeholder="Model" [(ngModel)]="model">
            </div>

            <br>

            <div class="form-group">
                    <label>Price (in euros):</label>
                    <div class="prices">
                    <input type="number" class="form-control" placeholder="From" min="0" [(ngModel)]="pricemin">
                    <input id="price-right" type="number" class="form-control" placeholder="To" min="0" [(ngModel)]="pricemax">
                    </div>
            </div>

            <br>

            <div class="form-group">
                <label>Fabrication year:</label>
                <div class="fabyear">
                    <input type="number" class="form-control" placeholder="From:" min="1875" [(ngModel)]="fabricationyearmin">
                    <input id="fabyear-right" type="number" class="form-control" placeholder="To:" min="1875" [(ngModel)]="fabricationyearmax">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label>Fuel:</label>
                <select class="form-control" [(ngModel)]="fueltype">
                    <option value="">No filter</option>
                    <option value="Gasoline">Gasoline</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
            </div>

            <br>

        </div>
        <div class="search2">
            <div class="form-group">
                <label>Kilometres:</label>
                <div class="km">
                    <input type="number" class="form-control" placeholder="From" min="0" [(ngModel)]="kilometresmin">
                    <input id="km-right" type="number" class="form-control" placeholder="To" min="0" [(ngModel)]="kilometresmax">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label>Power (in hp):</label>
                <div class="power">
                    <input type="number" class="form-control" placeholder="From" min="1" [(ngModel)]="powermin">
                    <input id="power-right" type="number" class="form-control" placeholder="To" min="1" [(ngModel)]="powermax">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label>Capacity (in cm3):</label>
                <div class="capacity">
                    <input type="number" class="form-control" placeholder="From" min="1" [(ngModel)]="capacitymin">
                    <input id="capacity-right" type="number" class="form-control" placeholder="To" min="1" [(ngModel)]="capacitymax">
                </div>
            </div>

            <br>

            <div class="form-group">
                <label>Transmission:</label>
                <select class="form-control" [(ngModel)]="transmission">
                    <option value="">No filter</option>
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                    <option value="Semi-automatic">Semi-automatic</option>
                    <option value="CVT">CVT</option>
                </select>
            </div>

            <br>

            <div class="form-group">
                <label>Pollution norm:</label>
                <select id="pltn" class="form-control" [(ngModel)]="pollutionnorm">
                    <option value="">No filter</option>
                    <option id="euro1" value="EURO 1">EURO 1</option>
                    <option id="euro2" value="EURO 2">EURO 2</option>
                    <option id="euro3" value="EURO 3">EURO 3</option>
                    <option id="euro4" value="EURO 4">EURO 4</option>
                    <option id="euro5" value="EURO 5">EURO 5</option>
                    <option id="euro6" value="EURO 6">EURO 6</option>
                </select>
            </div>

            <br>

            <div class="form-group">
                <label>Doors:</label>
                <input type="number" class="form-control" placeholder="Doors" min="0" [(ngModel)]="doors">
            </div>   
            
            <br>

        </div>
        <div class="search3">

            <div class="form-group">
                <label>Color:</label>
                <input type="text" class="form-control" placeholder="Color" [(ngModel)]="color">
            </div>   
            
            <br>

            <div class="form-group">
                <label>Warranty (in months):</label>
                <div class="warranty">
                    <input type="number" class="form-control" placeholder="From" min="0" [(ngModel)]="warrantymin">
                    <input id="warranty-right" type="number" class="form-control" placeholder="To" min="0" [(ngModel)]="warrantymax">
                    </div>
            </div>   
            
            <br>

            <div class="form-group">
                <label>Country of origin:</label>
                <select class="form-control" [(ngModel)]="countryoforigin">
                    <option value="">No filter</option>
                    <option value="Albania">Albania</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Canada">Canada</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czechia">Czechia</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Greece">Greece</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Italy">Italy</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Malta">Malta</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Montenegro">Montenegro</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="North Macedonia">North Macedonia</option>
                    <option value="Norway">Norway</option>
                    <option value="Poland">Poland</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Spain">Spain</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                    <option value="Vatican City">Vatican City</option>
                </select>
            </div>

            <br>

            <div class="form-group">
                <label>First registration:</label>
                <div class="firstregistration">
                    <input type="date" class="form-control" [(ngModel)]="firstregistrationmin">
                    <input id="firstreg-right" type="date" class="form-control" [(ngModel)]="firstregistrationmax">
                </div>
            </div>   
            
            <br>

            <div class="form-group">
                <label>Registered:</label>
                <select class="form-control" [(ngModel)]="registered">
                    <option value="">No filter</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <br>

            <div class="reset" (click)="Reset()">
                <br>
                <button class="reset-button">Reset</button>
            </div>

        </div>
    </div>
   
    <br><br><br>
    <div class="rows">
        <div class="col-sm-5 col-lg-3" *ngFor="let vhcl of this.vehicles | categoryFilter: category | companyFilter: company | modelFilter: model | priceFilter: pricemin:pricemax
        | fabricationYearFilter: fabricationyearmin:fabricationyearmax | fuelFilter: fueltype | kilometresFilter: kilometresmin:kilometresmax | pollutionNormFilter: pollutionnorm
        | powerFilter: powermin:powermax | capacityFilter: capacitymin:capacitymax | transmissionFilter: transmission | doorsFilter: doors | colorFilter: color | warrantyFilter: warrantymin:warrantymax
        | countryOfOriginFilter: countryoforigin | registeredFilter: registered | firstRegistrationFilter: firstregistrationmin:firstregistrationmax">
            <div class="vhcl">
                <img src="{{ vhcl.vehicleThumbnail }}">
                <br><br>
                <h2>{{ vhcl.vehicleCompany }} {{ vhcl.vehicleModel }}</h2>
                <p>Price: {{ vhcl.vehiclePrice }}€</p>
                <p>Fabrication year: {{ vhcl.vehicleFabricationYear }}</p>
                <button *ngIf="getSignedIn() == 'logged'" class="details-button" (click)="this.SetStoredVehicle(vhcl)" routerLink="../VehicleDetails">Details</button>
                <p *ngIf="getSignedIn() != 'logged'">Sign in to see the details!</p>
                <br><br>
            </div>
        </div>
    </div>
</div>
