<app-top-bar></app-top-bar>
<br><br>
<div class="send-email-container">
    <h1 id="title-send-email">Send an email to this user</h1>
    <br><br>
    <p class="email-data">To: {{ this.stored_user_email.email }}</p>
    <p class="email-data">From: {{ this.session_user[0].email }}</p>
    <br><br>
    <form [formGroup]="SendEmail" (ngSubmit)="sendEmail()">
        <div class="form-inner-send-email">
            <div class="form-group">
                <label>Subject:</label>
                <input type="text" class="form-control" placeholder="Email subject" formControlName="emailsubject">
            </div>

            <br>

            <div class="form-group">
                <label>Body:</label>
                <textarea style="resize:none;" class="form-control" rows="3" placeholder="Email body" formControlName="emailbody"></textarea>
            </div>

            <br>
        </div>
        <div class="buttons">
            <br>
            <button type="submit" class="submit-button">Send</button>
            <button class="details-button" routerLink="../VehicleDetails">Details</button>
        </div>
    </form>
</div>
<br><br><br><br>
<div class="send-email-rules">
    <h3>Rules:</h3>
    <p>All fields are mandatory.</p>
</div>